.houseImageSML
{
	width:115px !important;
	height:110px !important;
}
.houseLargeImage, img.housePreview
{
	width:352px !important;
	height:202px !important;
}
.labelProperty
{
	width:70px;
	padding-left:0px;
	margin-left:0px;
}

textarea#enquire
{
	width:376px !important;
	height:60px !important;

}
.container
{
	overflow:hidden !important;
	padding-left:0px;
}
.carousel-indicators
{
	display:none;
}
