{% load static %}
<div class="jumbotron">
    <div class="row">
        <div class="col-sm-2"><img class="logoImage" id="logoImage" src="{% static 'images/arrrrsuqtax.png' %}"></div>
        <div class="col-sm-8">
            <h1>Share House</h1>
            <p>Share House is a great place to find a house mate to share your resnt and utilities. This is a great central location to find houses and apartments all around Australia.</p>
        </div>
        {% if request.user.is_authenticated %}
        <div class="col-sm-2">
            <a href="{% url 'logout' %}" class="button button1" type="button">Logout</a>
            <button class="button button2">view my property</button><br>
        </div>
        {% else %} 
        <div class="col-sm-2">
            <button class="button button1" type="button">Register Account</button>
            <button class="button button2">Log into Account</button><br>
        </div>
        {% endif %}
    </div>
</div>