{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Share House - Home</title>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="{% static 'css/Home.css' %}" rel="stylesheet">
	<link href="{% static 'css/Styling.css' %}" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">
	</script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		{% include 'header.html' %}
		<div class="navigationDIV">
			<div class="topnav">
				<a class="active" href="{% url 'index' %}">Home</a>
				<a href="{% url 'properties' %}">Properties</a>
				<a href="{% url 'landlord' %}">Landlord</a>
				<a href="{% url 'search' %}">Search results</a>
			  <input type="text" placeholder="Search..">
			</div>
		</div>	
		<div class="row">
			<div class="col-sm-3">
				<h3>Favourites</h3><a href="properties.html">
				<p><i aria-hidden="true" class="fa fa-star"></i> View my Favourites</p></a>
			</div>
			<div class="col-sm-6">
				<h3>Search for Properties</h3>
				<form action="{% url 'search' %}" method="POST">{% csrf_token %}
					<p>
						<i class="fa fa-search"></i><label for="cars" style="margin-left: 4px"> Keyword</label><br>
						<input name="keyword" placeholder="Search.." type="text">
					</p>
					<br>
					<p>Prices between<br>
					<input id="fname" name="lower_price" type="text">
						and
					<input id="lname" name="upper_price" type="text"><br></p><br>
					<button type="submit" class="btn btn-primary">search</button>
					<!-- <a href="{% url 'search' %}" class="btn btn-primary">search</a> -->
					<br>
				</form>
			</div>
			<div class="col-sm-3">
				<h3>Last viewed</h3>
				<p class="housePreview"><img class="houseImage" src="{% static 'images/house1/House1.jpg' %}"><br>
				101 Newplace street, Brisbane, QLD, 4000</p>
				<p class="housePreview"><img class="houseImage" src="{% static 'images/house1/House2.jpg' %}"><br>
				101 Newplace street, Brisbane, QLD, 4000</p>
				<!--<p class="housePreview">
				<img class="houseImage" src="images/house1/House3.jpg"></br>101 Newplace street, Brisbane, QLD, 4000</p> -->
			</div>
		</div><!-- Footer -->
		<footer class="w3-container w3-padding-64 w3-center w3-black w3-xlarge Footer">
			<br>
			<a href="#"><i class="fa fa-facebook-official"></i></a> <a href="#"><i class="fa fa-pinterest-p"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-flickr"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a><br>
			<a href="#"><i class="fa fa-copyright"></i></a> Copyright Benjamin Gale MIS202 - App, Web Design and Development<br>
			<a href="mailto:bengale_83@hotmail,com"><i class="fa fa-envelope"></i> Email me for any questions</a><br>
			<p></p>
		</footer>
	</div>
</body>
</html>